<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046646822773-hle04j0fo06u5mr2vgakohtqljdr497v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046646822773-hle04j0fo06u5mr2vgakohtqljdr497v</string>
	<key>API_KEY</key>
	<string>AIzaSyDiZrr5w7xB0v50xga7viF0NpCDOWWnUQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1046646822773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vytautasdev.redditV2</string>
	<key>PROJECT_ID</key>
	<string>reddit-v2-e8f54</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-v2-e8f54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046646822773:ios:380d1dd9110154df50253c</string>
</dict>
</plist>